---
import MainLayoutAstro from "../layouts/main.layout.astro"

import { frontmatter } from "../content/pages/subscribe.md"
const { title, description, keywords, subtitle } = frontmatter
---
<MainLayoutAstro title={title} description={description} keywords={keywords}>
    <div class="flow">
      <!-- Hero Section -->
      <section class="section section-subscription section-subscription-hero">
        <article class="wrapper section__wrapper mx-auto p-4">
          <div class="section-subscription-hero__body | text-center flow">
            <h1 class="text-6xl font-serif">{title}</h1>
          </div>
          <!-- ./section-subscription-hero__body -->
        </article>
      </section>
  
      <!-- Subscribe Form -->
      <section class="section section-subscription section-subscription-form">
        <h2 class="section-subscription-form__heading">
          <div
            class="wrapper section__wrapper section-subscription-form__heading__wrapper | text-2xl font-serif mx-auto"
          >
            Scroll Harmony
          </div>
        </h2>
        <div
          class="wrapper section__wrapper section-subscription-form__wrapper container-q container-q-subscription-form | mx-auto p-4"
        >
          <form action="#" method="post" class="form">
            <div class="form__group form__group-subscription" data-element="subscribe-form">
              <label for="email" class="form__label">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form__field"
                placeholder="Your Email"
                required
              />
            </div>
            <!-- ./form__group -->

            <div class="form__group form__group-hidden">
              <label for="last_name" class="form__label">Last Name</label>
              <input
                type="text"
                name="last_name"
                id="last_name"
                class="form__field"
                required
              />
            </div>
            <!-- ./form__group -->
            <button type="submit" class="btn btn-tbb btn-tbbGreen">
              Subscribe
            </button>
            <button type="reset" class="btn btn-tbb btn-tbbTan">Reset</button>
          </form>
        </div>
      </section>

      <!-- Unsubscribe Form -->
      <section class="section section-subscription section-subscription-form">
        <h2 class="section-subscription-form__heading">
          <div
            class="wrapper section__wrapper section-subscription-form__heading__wrapper | text-2xl font-serif mx-auto"
          >
            Scroll Departure
          </div>
        </h2>
        <div
          class="wrapper section__wrapper section-subscription-form__wrapper container-q container-q-subscription-form | mx-auto p-4"
        >
          <form action="#" method="post" class="form">
            <div class="form__group form__group-subscription"  data-element="unsubscribe-form">
              <label for="email" class="form__label">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form__field"
                placeholder="Your Email"
                required
              />
            </div>
            <!-- ./form__group -->

            <div class="form__group form__group-hidden">
              <label for="last_name" class="form__label">Last Name</label>
              <input
                type="text"
                name="last_name"
                id="last_name"
                class="form__field"
                required
              />
            </div>
            <!-- ./form__group -->
            <button type="submit" class="btn btn-tbb btn-tbbPink">
              Unsubscribe
            </button>
            <button type="reset" class="btn btn-tbb btn-tbbTan">Reset</button>
          </form>
        </div>
      </section>
    </div><!-- ./flow -->
  </MainLayoutAstro>