---
const { APP_NAME } = import.meta.env

---
<header class="primary-header" data-element="primary-header">
    <div class="wrapper mx-auto p-v-block-300 p-v-inline-400">
      <nav class="primary-header__nav">
        <div class="primary-header__nav__group">
          <a href="./index.html">Home</a>
          <a href="./post.html">Featured Scroll</a>
        </div>
        <a href="./index.html" class="brand">
          <div class="brand__graphic brand__graphic-left"></div>
          <div class="title">{APP_NAME}</div>
          <div class="brand__graphic brand__graphic-right"></div>
        </a>
        <div class="primary-header__nav__group">
          <a href="./post.html">Latest Scroll</a>
          <a href="./archive.html">Scroll Bottles</a>
        </div>
      </nav>
    </div>
    <!-- ./wrapper -->

    <button
      class="btn btn-tbb text-xl"
      type="button"
      data-element="primary-header__btn-menu"
    >
      <i class="fa-sharp fa-light fa-bars"></i>
      <span class="sr-only">Menu</span>
    </button>

    <button
      class="btn btn-tbb text-xl"
      type="button"
      data-element="primary-header__btn-close"
    >
      <i class="fa-sharp fa-light fa-xmark"></i>
      <span class="sr-only">Close</span>
    </button>
</header>