---
import "../styles/app.scss"
import dayjs from "dayjs"
import favicon from "../assets/images/logo.svg"

import PrimaryHeader from "../components/primary-header.component.astro"
import PrimaryFooter from "../components/primary-footer.component.astro"

import main from "../content/main.md"

console.log(main)
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href={favicon.src} type="image/xml+svg">

    <script
      is:inline
      src="https://kit.fontawesome.com/1b82ea5cb2.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body id="top">
    <a href="#" class="btn btn-tbb btn-skip-navigation">Skip Navigation</a>

    <PrimaryHeader />

    <main
      class="primary-main primary-main-home container-q container-q-primary-main"
    >
      <a href="#top" class="btn btn-tbb btn-back-to-top">Top</a>

      <slot />
    </main>

    <PrimaryFooter />
  </body>
</html>
